.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #3F3F3F;
  overflow: hidden;
}

.app-content {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 768px) {
  .app-content {
    flex-direction: column;
  }
}
